html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #f2645c;
}

.title {
  font-size: 70px;
  text-align: center;
  color: silver;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
}
.card {
  font-size: 30px;
  width: 250px;
  height: 250px;
  border-radius: 40px;
  text-align: center;
}

.card1,
.card4,
.card7 {
  border: 3px solid green;
}
.card2,
.card5,
.card8 {
  border: 3px solid blue;
}

.card3,
.card6,
.card9 {
  border: 3px solid red;
}
