html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #f2645c;
}

.title {
  font-size: 10rem;
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: #f08475;
  background-image: url(img/route-66.png), url(img/route-66.png);
  background-size: 130px;
  background-repeat: no-repeat;
  background-position-x: left, right;
  font-family: "Pacifico", cursive;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  font-size: 5rem;
  height: 35rem;
}

.parent1 {
  flex-direction: column;
  justify-content: space-around;
}

.card {
  font-size: 3rem;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #f08475;
  box-shadow: initial;
  box-shadow: 15px 5px 7px red;
}

.card1 {
  background-image: url(img/mcqueen.png);
  background-size: 80%;
  background-position-y: 80px;
}

.card2 {
  background-image: url(img/mater.png.crdownload);
  background-position-y: 50px;
  background-position-x: -15px;
}

.card3 {
  background-image: url(img/sally.png);
  background-position-y: 80px;
  background-size: 80%;
}

.card4 {
  background-image: url(img/doc.png);
  background-position-y: 50px;
}

.card5 {
  background-image: url(img/luigi.png);
  background-position-y: 50px;
  background-size: 65%;
}

.card6 {
  background-image: url(img/Guido.png);
  background-position-y: 50px;
  background-size: 55%;
  background-position-x: center;
}

.card7 {
  background-image: url(img/Mack\ 2.png);
  background-position-y: 50px;
  background-size: 60%;
  background-position-x: center;
}

.card8 {
  background-image: url(img/Strip.png);
  background-position-y: 50px;
}

.card9 {
  background-image: url(img/chick.png);
  background-position-y: 50px;
  background-size: 155%;
}

.text {
  margin-top: 60%;
  border-radius: 10px;
  background-color: transparent;
}

.text1,
.text2,
.text3 {
  margin-top: 67%;
}

.card1:hover {
  transform: translate(600px, 0%);
  transition-duration: 2s;
}

.card2:hover {
  transform: scale(1);
  transition-duration: 2s;
  animation: rotation 2s;
  background-color: #8c5512;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.card3:hover {
  outline: 5px solid #03c6fc;
  background-color: aqua;
  transform: scale(1.05);
  transition-duration: 1.5s;
}

.card4:hover {
  transform: skew(10deg, 10deg);
  transition-duration: 2s;
  background-color: #4287f5;
}

.card5:hover {
  transform: scale(1.25);
  transition-duration: 2s;
  background-color: #dbdb5a;
  box-shadow: 15px 5px 7px yellow;
}

.card6:hover {
  transform: scale(1.25);
  transition-duration: 2s;
  background-color: #3eadb8;
  box-shadow: 15px 5px 7px #07e5fa;
}
